.dote {
  background-color: red;
  height: 1px;
  width: 1px;
  position: absolute;
}

.start {
  background-color: green;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  position: absolute;
}

.end {
  background-color: blue;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  position: absolute;
}
